<div id="<%= dom_id note %>">
  <p>
    <strong>Year:</strong>
    <%= note.year %>
  </p>

  <p>
    <strong>Software:</strong>
    <%= note.software_id %>
  </p>

  <p>
    <strong>Subsoftware:</strong>
    <%= note.subsoftware_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= note.activity_id %>
  </p>

</div>
