<div id="<%= dom_id subsoftware %>">
  <p>
    <strong>Name:</strong>
    <%= subsoftware.name %>
  </p>

  <p>
    <strong>Esats:</strong>
    <%= subsoftware.esats_id %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= subsoftware.version %>
  </p>

  <p>
    <strong>Standard scope:</strong>
    <%= subsoftware.standard_scope %>
  </p>

  <p>
    <strong>Software:</strong>
    <%= subsoftware.software_id %>
  </p>

</div>
